@using GqeberhaClinic.Areas.Identity.Data;
@using GqeberhaClinic.Models
@model GqeberhaClinic.Models.Appointment_QueVM
@{
    ViewData["Title"] = "All Appointments";
    Layout = "~/Views/Shared/_Walk-In.cshtml";
}
<div class="text-center bg-primary p-2">
    <h4 class="text-white">List of all Appointment</h4>
</div>
@if (TempData["Success"] != null)
{
    <div id="myModal" class="modal fade" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header text-center">
                    <button type="button" id="close" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <h5 class="text-dark text-center">@TempData["Success"]</h5>
                    <script src="https://cdn.lordicon.com/lordicon-1.1.0.js"></script>
                    <lord-icon src="https://cdn.lordicon.com/hslmvbwi.json"
                               trigger="hover"
                               colors="primary:#109121"
                               style="width:250px;height:250px">
                    </lord-icon>
                </div>
            </div>
        </div>
    </div>

}

<div class="d-grid gap-2 d-md-flex justify-content-md-start">

    <a class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">New Appointment</a>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Appointment For a Patient</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <partial name="/Views/Appointments/Create_Partial.cshtml" />
            </div>
        </div>
    </div>
</div>





<table id="MyTable" class="table">
    <thead class="table-stripped">
        <tr>
            <th>
                Patient Full Names
            </th>
            <th>
                Appointment Date and Time
            </th>
            <th>
                Purpose of Appointment
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Appointments item in ViewBag.appoint)
        {
            <tr>
                <td>
                    @item.Patient.FirstName
                    @item.Patient.LastName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                @if (item.Status == "New")
                {
                    <td>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal-@item.AppointmentID">
                            Accept
                        </button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#Post-@item.AppointmentID">
                            PostPone
                        </button>

                    </td>
                    <!-- Button trigger modal -->
                    <div class="modal fade" id="exampleModal-@item.AppointmentID" tabindex="-1" aria-labelledby="exampleModalLabel-@item.AppointmentID" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-@item.AppointmentID">Confirmation</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <h5 class="text-center">Accept the Appointment</h5>
                                </div>
                                <div class="modal-footer">

                                    <a asp-action="Accept" asp-route-id="@item.AppointmentID" type="button" class="btn btn-success">Accept</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="Post-@item.AppointmentID" tabindex="-1" aria-labelledby="Post-@item.AppointmentID" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="Post-@item.AppointmentID">Postpone Appointment</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <form asp-action="Edit">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <input hidden value="@item.AppointmentID" asp-for="AppointmentID" />
                                                <div class="form-group">
                                                    <label asp-for="Date_Time" class="control-label">New Date and Time</label>
                                                    <input asp-for="Date_Time" class="form-control" />
                                                    <span asp-validation-for="Date_Time" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" value="Postpone" class="btn btn-primary mt-3" />
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-5">
                                            <img style="width:200px" src="~/images/calendar.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                }
                else if (item.Status == "Accepted")
                {
                    <td>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Que-@item.AppointmentID">
                            Que Appointment
                        </button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#Post-@item.AppointmentID">
                            Postpone
                        </button>
                        <div class="modal fade" id="Post-@item.AppointmentID" tabindex="-1" aria-labelledby="Post-@item.AppointmentID" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="Post-@item.AppointmentID">Postpone Appointment</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <form asp-action="Edit">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <input hidden value="@item.AppointmentID" asp-for="AppointmentID" />
                                                    <div class="form-group">
                                                        <label asp-for="Date_Time" class="control-label">New Date and Time</label>
                                                        <input asp-for="Date_Time" class="form-control" />
                                                        <span asp-validation-for="Date_Time" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="submit" value="Postpone" class="btn btn-primary" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="Que-@item.AppointmentID" tabindex="-1" aria-labelledby="Que-@item.AppointmentID" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="Que-@item.AppointmentID">Put the Appoint me in a Que</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      
                                        <div class="text-center">
                                            <img width="100px" class="text-center" src="~/images/que.png" />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form asp-action="Create1" asp-controller="Appointments_Ques">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <input hidden value="@item.AppointmentID" asp-for="AppointmentID" />
                                                    <div class="form-group">
                                                        <label asp-for="Time" class="control-label">Select the delay Time(Hours:Minutes):</label>
                                                        <input asp-for="Time" class="form-control" />
                                                        <span asp-validation-for="Time" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="RoomNumber" class="control-label">Room number and Block number</label>
                                                        <input asp-for="RoomNumber" class="form-control" />
                                                        <span asp-validation-for="RoomNumber" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="ClinicianID" class="control-label">Select Doctor/Nurse</label>
                                                        <select asp-for="ClinicianID" class="form-control">
                                                            @foreach (GqebheraUser user in ViewBag.Clinic)
                                                            {
                                                                <option value="@user.FirstName @user.LastName">@user.FirstName @user.LastName </option>
                                                            }
                                                        </select>
                                                        <span asp-validation-for="ClinicianID" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="submit" value="Que Appointment" class="btn btn-primary mt-2" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>

                }
                else if (item.Status == "Done")
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AppointmentID">Delete</a> |
                        <a asp-action="Details" asp-route-id="@item.AppointmentID">View More</a> |

                    </td>
                }
                else if (item.Status == "Queued")
                {
                    <td>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#delay-@item.AppointmentID">
                           Extend delay
                        </button>
                        <div class="modal fade" id="delay-@item.AppointmentID" tabindex="-1" aria-labelledby="delay-@item.AppointmentID" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="delay-@item.AppointmentID">Extend  the Que Time</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <form asp-action="Extend" asp-controller="Appointments_Ques">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <input hidden value="@item.AppointmentID" asp-for="AppointmentID" />
                                                    <div class="form-group">
                                                        <label asp-for="Time" class="control-label">New delay Time(Hours:Minutes):</label>
                                                        <input asp-for="Time" class="form-control" />
                                                        <span asp-validation-for="Time" class="text-danger"></span>
                                                    </div>
                                                  
                                                    <div class="form-group">
                                                        <input type="submit" value="Extend" class="btn btn-primary mt-2" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </td>
                }

            </tr>

        }
    </tbody>
</table>
