@using GqeberhaClinic.Models
@model GqeberhaClinic.Models.MedicalRefill
@{
    ViewData["ViewTitle"] = "List of Medical Refill Request Refill";
    ViewData["Description"] = " My Medical Refill Requests";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Chronic.cshtml";
}

@if (TempData["Success"] != null)
{

    <div class="alert   w-100 @(Convert.ToString(TempData["UpdateType"]) == "success" ? "alert-success" : "alert-danger")" id="tempDataMessage" role="alert">
        <h5 class="text-dark text-center">@TempData["Success"]</h5>
    </div>
}

<div class=" text-center bg-primary p-2 mb-2">
    <h3 class="text-center text-white">List of My Medical refill requests</h3>
</div>
<table id="MyTable" class="table">
    <thead class="table-dark">
        <tr>
            <th>
                Doctors Full Name
            </th>
            <th>
                Prescriped Medication Name
            </th>


            <th>
                Quantity Requested
            </th>
            <th>
             Request Date
            </th>
            <th>
                Notes
            </th>
            <th>
               Status
            </th>
            <th>
                Approval Date
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (MedicalRefill item in ViewBag.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescription.Doctor.FirstName)
                    @Html.DisplayFor(modelItem => item.Prescription.Doctor.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescription.MedicationName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.QuantityRequested)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                   
                    @if(item.ApprovalDate == null)
                    {
                        <p>Not Set</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.ApprovalDate)
                    }
                </td>

                <td>
                    @if (item.Status == RefillStatus.Pending)
                    {
                        <button type="button" class="btn btn-danger mb-1" data-bs-toggle="modal" data-bs-target="#exmpleModal-@item.Id">
                            Delete Request
                        </button>
                        <!-- Button trigger modal -->
                        <!-- Modal -->
                        <div class="modal fade" id="exmpleModal-@item.Id" tabindex="-1" aria-labelledby="exmpleModalLabel-@item.Id" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-center" id="exmpleModalLabel-@item.DoctorsID">Delete Request</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">

                                        <img src="~/images/delete.png" width="200px" />
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete Request</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                 
        
                </td>
            </tr>
        }
    </tbody>
</table>
