@using GqeberhaClinic.Models
@{
    ViewData["Title"] = "Patient";
    Layout = "~/Views/Shared/_Counselling.cshtml";
}

<style>
    #dash-con {
        background: rgba( 0, 13, 161, 0.5 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 6px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .container h1 {
        white-space: nowrap; /* Prevents text from wrapping to the next line */
        overflow: hidden; /* Hides any overflowing text */
        text-overflow: ellipsis; /* Truncates text with an ellipsis (...) */
    }

    #dash-con:hover {
        background: rgba( 131, 141, 255, 0.7 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 10.5px );
        -webkit-backdrop-filter: blur( 10.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
</style>
<bold><h1>Welcome to <sapn class="text-primary">Gqeberha</sapn> <span class="text-warning">Clinic</span></h1></bold>
<h3>Patient DashBoard</h3>

<div class="container-fluid pt-4 px-4">

    <div class="row g-4">
        <div class="  col-sm-6 col-xl-3 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">

            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-2">
                <div class="ms-3">
                    <img src="~/images/app.png" style="width: 100px" />
                    <h4 class="mb-2">Counselling Appointments<span class="badge bg-primary rounded-pill text-white">
                        @if (ViewBag.Appointment != null)
                            {
                                <span> @ViewBag.Appointment.Count</span>
                            }
                            else
                            {
                                <span>0</span>
                            }
                        </span></h4>
                </div>
            </div>
        </div>
        <div class=" col-sm-6 col-xl-3 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">


            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-2">

                <div class="ms-3">
                    <img src="~/images/MedicalF.png" style="width: 100px" />
                    <h4 class="mb-2">Medical Records</h4>
                </div>
            </div>
        </div>
        <div class="  col-sm-6 col-xl-3 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">

            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-2">
                <div class="ms-3">
                    <img src="~/images/sess.png" style="width: 100px" />
                    <h4 class="mb-2">Counselling Sessions</h4>
                </div>
            </div>
        </div>
        <div class="  col-sm-6 col-xl-3 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">

            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-2">
                <div class="ms-3">
                    <img src="~/images/hist.png" style="width: 100px" />
                    <h4 class="mb-2">Sessions History</h4>
                </div>
            </div>
        </div>

        <div class="  col-sm-6 col-xl-3 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">


            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-2">
                <div class="ms-3">
                    <img src="~/images/Messages.png" style="width: 100px" />
                    <h4 class="mb-2">Messages</h4>
                </div>
            </div>
        </div>
        <div class="  col-sm-6 col-xl-3 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">


            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-2">
                <div class="ms-3">
                    <img src="~/images/Feed.png" style="width: 75px" />
                    <h4 class="mb-2">feedback</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4 bg-white m-2">
    <div class="AssessmentTable text-center rounded p-4" id="AssessmentTable">
        <div class="d-flex align-items-center justify-content-between mb-1">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Create Appointment</a>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add New Appointment For a Patient</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <partial name="/Views/Appointments/Create_Partial.cshtml" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="table-responsive ">
            <table id="MyTable" class="table">
                <thead class="table-dark">
                    <tr>
                        <th>
                            Appointment Created
                        </th>
                        <th>
                            Appointment Date_Time
                        </th>
                        <th>
                            Reason for appointment
                        </th>
                        <th>
                            Status
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Appointments item in ViewBag.Appointment)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date_Time)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Reason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>

                           
                        </tr>
                    }
                </tbody>
            </table>
            <script>
                var fromDateInput = document.getElementById('fromDate');
                fromDateInput.min = new Date().toISOString().split('T')[0];
            </script>
        </div>
    </div>
</div>

