@model IEnumerable<GqeberhaClinic.Models.Referrals>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Family-P.cshtml";
}

<div class=" text-center bg-primary p-2 mb-2">
    <h3 class="text-center text-white">Referred  Contraceptive plans</h3>
</div>

@if (TempData["Success"] != null)
{

    <div class="alert   w-100 @(Convert.ToString(TempData["UpdateType"]) == "success" ? "alert-success" : "alert-danger")" id="tempDataMessage" role="alert">
        <h5 class="text-dark text-center">@TempData["Success"]</h5>
    </div>
}
<table id="MyTable" class="table">
    <thead>
        <tr>
            <th>
                Patient Information
            </th>
            <th>
               Contraceptive Name
            </th>
            <th>
                start date of plan
            </th>
            <th>
               Date of Referal
            </th>
           
            <th>
                Reason for referal
            </th>
            <th>
                referred to
            </th>
            <th>Notes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContraceptivePlan.Patient.FirstName) 
                @Html.DisplayFor(modelItem => item.ContraceptivePlan.Patient.LastName) 
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.ContraceptivePlan.ContraceptiveName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ContraceptivePlan.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferralDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonForReferral)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.ReferredTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReferralId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReferralId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReferralId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
