@model IEnumerable<GqeberhaClinic.Models.Referrals>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Family-P.cshtml";
}

<div class=" text-center bg-primary p-2 mb-2">
    <h3 class="text-center text-white">Referred  Contraceptive plans</h3>
</div>

@if (TempData["Success"] != null)
{

    <div class="alert   w-100 @(Convert.ToString(TempData["UpdateType"]) == "success" ? "alert-success" : "alert-danger")" id="tempDataMessage" role="alert">
        <h5 class="text-dark text-center">@TempData["Success"]</h5>
    </div>
}
<table id="MyTable" class="table">
    <thead>
        <tr>
            <th>
                Patient Information
            </th>
            <th>
               Contraceptive Name
            </th>
            <th>
                start date of plan
            </th>
            <th>
               Date of Referal
            </th>
           
            <th>
                Reason for referal
            </th>
            <th>
                referred to
            </th>
            <th>Notes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContraceptivePlan.Patient.FirstName) 
                @Html.DisplayFor(modelItem => item.ContraceptivePlan.Patient.LastName) 
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.ContraceptivePlan.ContraceptiveName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ContraceptivePlan.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferralDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonForReferral)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.ReferredTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-@item.ReferralId">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-@item.ReferralId" tabindex="-1" aria-labelledby="exampleModalLabel-@item.ReferralId" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-@item.ReferralId">Delete Referal record</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                   <h5>Are you sure to delete this record?</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ReferralId">yes, delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
