@{
    ViewData["Title"] = "Nurse";
    Layout = "~/Views/Shared/_Walk-In.cshtml";
}
<style>
    #dash-con {
        background: rgba( 0, 19, 161, 0.5 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 6px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .container h1 {
        white-space: nowrap; /* Prevents text from wrapping to the next line */
        overflow: hidden; /* Hides any overflowing text */
        text-overflow: ellipsis; /* Truncates text with an ellipsis (...) */
    }

    #dash-con:hover {
        background: rgba( 131, 141, 255, 0.7 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 10.5px );
        -webkit-backdrop-filter: blur( 10.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
</style>
<bold><h1>Welcome to <sapn class="text-primary">Gqeberha</sapn> <span class="text-warning">Clinic</span></h1></bold>
<h3>Nurse Dashboard</h3>

<div class="container-fluid pt-4 px-4">

    <div class="row g-4">
        <div class="  col-sm-6 col-xl-3 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">

            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-2">
                <div class="ms-3">
                    <img src="~/images/app.png" style="width: 100px" />
                    <h4 class="mb-2">Appointments</h4>
                </div>
            </div>
        </div>
        <div class=" col-sm-6 col-xl-3 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">


            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-2">

                <div class="ms-3">
                    <img src="~/images/MedicalF.png" style="width: 100px" />
                    <h4 class="mb-2">Medical Files</h4>
                </div>
            </div>
        </div>


        <div class="  col-sm-6 col-xl-3 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">


            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-2">
                <div class="ms-3">
                    <img src="~/images/Messages.png" style="width: 100px" />
                    <h4 class="mb-2">Messages</h4>
                </div>
            </div>
        </div>
        <div class="  col-sm-6 col-xl-3 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">


            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-2">
                <div class="ms-3">
                    <img src="~/images/Feed.png" style="width: 75px" />
                    <h4 class="mb-2">feedbacks</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<h4 class="text-center mt-3">List of all Appointment</h4>
<table id="MyTable1" class="table">
    <thead class="table-stripped">
        <tr>
            <th>
                Patient Full Names
            </th>
            <th>
                Appointment Date and Time
            </th>
            <th>
                Purpose of Appointment
            </th>
            <th>
                Status
  
        </tr>
    </thead>
    <tbody>
        @foreach (Appointments item in ViewBag.appoint)
        {
            <tr>
                <td>
                    @item.Patient.FirstName
                    @item.Patient.LastName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>

        }
    </tbody>
</table>