@using GqeberhaClinic.Models
@model GqeberhaClinic.Models.Medical_Feedback

@{
    ViewData["ViewTitle"] = "All Medical Feed back";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Chronic.cshtml";
}

@if (TempData["Success"] != null)
{

    <div class="alert   w-100 @(Convert.ToString(TempData["UpdateType"]) == "success" ? "alert-success" : "alert-danger")" id="tempDataMessage" role="alert">
        <h5 class="text-dark text-center">@TempData["Success"]</h5>
    </div>
}

<table id="MyTable" class="table">
    <thead class="table-dark">
        <tr>
            <th>
                Patient Full Names
            </th>
            <th>
                Medicine Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FeedbackDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DoctorsFeedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnsweredDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Medical_Feedback item in ViewBag.Feed)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.FirstName)
                    @Html.DisplayFor(modelItem => item.Patient.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescription.MedicationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feedback)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeedbackDate)
                </td>
                <td>
                    @if (item.DoctorsFeedback == null)
                    {
                        <p>Not Provided</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.DoctorsFeedback)
                    }
                </td>
                <td>
                    @if (item.DoctorsFeedback == null)
                    {
                        <p>Not set</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Doctor.FirstName)
                        @Html.DisplayFor(modelItem => item.Doctor.LastName)
                    }
                </td>
                <td>
                    @if (item.DoctorsFeedback == null)
                    {
                        <p>Not set</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.AnsweredDate)
                    }

                </td>

                <td>
                    @if (item.DoctorsFeedback == null)
                    {
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal-@item.FeedbackID">
                            Answer
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal-@item.FeedbackID" tabindex="-1" aria-labelledby="exampleModalLabel-@item.FeedbackID" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel-@item.FeedbackID">Provide Feedback</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-md-12">
                                            <form asp-action="Edit">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <input value="@item.FeedbackID" type="hidden" asp-for="FeedbackID" />
                                                <div class="form-group">
                                                    <label asp-for="DoctorsFeedback" class="control-label">Please Choose Prescripted Medicine:</label>
                                                    <input asp-for="DoctorsFeedback" class="form-control" />
                                                    <span asp-validation-for="DoctorsFeedback" class="text-danger"></span>
                                                </div>

                                                <div class="form-group">
                                                    <input type="submit" value="Provide Feedback" class="btn btn-primary" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
