@model GqeberhaClinic.Models.Medical_Feedback

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Chronic.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Medical_Feedback</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Dosage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorsFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorsFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeedbackDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeedbackDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnsweredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnsweredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FeedbackID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
