@model IEnumerable<GqeberhaClinic.Models.FamilyPlanning_Screening>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Family-P.cshtml";
}

@if (@TempData["Result"] != null)
{
    <div id="myModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header text-center">
                    <h3 class="modal-title"> Screening Results</h3>
                    <button type="button" id="close" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img src="~/images/f.png" width="200px" />
                    <h4>@TempData["Result"]</h4>
                    <h5 class="text-danger">Don't forget to Consult with the Nurse</h5>
                </div>
            </div>
        </div>
    </div>
}
<div class=" text-center bg-primary p-2">
    <h3 class="text-center text-white">My Self Screen History</h3>
</div>
@if (TempData["Success"] != null)
{

    <div class="alert   w-100 @(Convert.ToString(TempData["UpdateType"]) == "success" ? "alert-success" : "alert-danger")" id="tempDataMessage" role="alert">
        <h5 class="text-dark text-center">@TempData["Success"]</h5>
    </div>
}
<p>
    <a class="btn btn-primary mt-2" asp-action="Create">New Screen</a>
</p>
<table id="MyTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
           <th>
               Out-Come
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-@item.ScreeningID">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-@item.ScreeningID" tabindex="-1" aria-labelledby="exampleModalLabel-@item.ScreeningID" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-@item.ScreeningID">Confirmation of deleting the history</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                   <h4>Confitm to delete this screen history</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ScreeningID">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="~/js/site.js"></script>